.background {
  color: white;
  background-color: #2a2927;
}

#side-panel {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.45) transparent;
  height: 560px;
  width: 280px;
  margin-left: 35px;
}
